@charset "utf-8";

@import 'fonts.scss';

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.


// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// Navbar customization
$navbar-height: 56px;
$footer-height: 12px;
$navbar-padding-vertical:0px;
$navbar-item-img-max-height: None;

// dimensions
$tournament-side-list-width: 350px;

// 4. Import the rest of Bulma
@import "../node_modules/bulma/bulma";


// CSS custom properties for theme and customization
:root {
    // Base colors
    --grey: #8b8b8b;
    // User theme
    --accent-primary-color: #FF6666;
    --accent-secondary-color: #7171FF;
    // Dark / Light mode
    --background-primary-level: #333539;
    --background-secondary-level: #4B4C50;
    --generic-game-image: 'url(/genericGameDark.webp)';
    --text-color: #FFFFFF;
    --text-color-70: #FFFFFFB3;
    --toastify-icon-color-info: white !important;
    --toastify-icon-color-error: white !important;
    // dimensions
    --button-height: 50px;
    --button-width: 190px;
}



/******************************* 
************ GLOBAL ************
*******************************/

html {
    background-color: var(--background-primary-level);
    overflow: hidden;
}
body {
    font-family: 'Karla';
    font-size: 20px;
    height: 100vh;
    padding: 0;
    overflow: hidden;
}

.main {
    height: calc(100vh - ($navbar-height + $footer-height));
}

a, a:hover {
    color: unset;
}


@mixin textAndFillColor($color, $color70) {
    a {
        color: $color;
    }
    color: $color;
    path.fillAsText {
        fill: $color;
    }
    &.fade-text, .fade-text {
        color: $color70 !important;
        path.fillAsText {
            fill: $color70 !important;
        }
    }
    &.fade-on-mouse-out, .fade-on-mouse-out {
        transition: color .2s;
        color: $color70;
        path.fillAsText {
            fill: $color70;
            transition: fill .2s;
        }
        &:hover {
            color: $color;
            path.fillAsText {
                fill: $color;
                transition: fill .2s;
            }
        }
    }
}

.has-background-secondary-level {
    background-color: var(--background-secondary-level) !important;
    @include textAndFillColor(var(--text-color), var(--text-color-70))
}
.has-background-primary-level {
    background-color: var(--background-primary-level) !important;
    @include textAndFillColor(var(--text-color), var(--text-color-70))
}
.has-background-grey {
    background-color: var(--grey) !important;
    @include textAndFillColor(white, #FFFFFFB3)
}

.has-background-primary-accent {
    background-color: var(--accent-primary-color) !important;
    @include textAndFillColor(white, #FFFFFFB3)
}
.has-background-secondary-accent {
    background-color: var(--accent-secondary-color) !important;
    @include textAndFillColor(white, #FFFFFFB3)
}

.has-borders-secondary-level {
    border: solid 2px var(--background-secondary-level);
}
.has-borders-primary-accent {
    border: solid 2px var(--accent-primary-color);
}

.has-text-primary-accent {
    color: var(--accent-primary-color) !important;
    @include textAndFillColor(var(--accent-primary-color), var(--accent-primary-color))
}
.has-text-secondary-accent {
    color: var(--accent-secondary-color) !important;
    @include textAndFillColor(var(--accent-secondary-color), var(--accent-secondary-color))
}

.is-title {
    font-family: 'Karla';
    font-style: italic;
    font-weight: 800;
    text-transform: uppercase;
    &.big {
        font-size: 32px;
        line-height: 32px;
    }
    &.medium {
        font-size: 24px;
        line-height: 24px;
    }
}

.is-full-height {
    max-height: 100% !important;
    height: 100% !important;
}

.is-full-width {
    max-width: 100% !important;
    width: 100% !important;
}

.is-borderless {
    border: none;
}


$flex-propertions: (
    one-fifth: 20%,
    one-quarter: 25%,
    one-third: 33.33%,
    two-fifths: 40%,
    half: 50%,
    three-fifths: 60%,
    two-thirds: 66.67%,
    three-quarters: 75%,
    four-fifths: 80%,
    full: 100%,
);
@each $width, $percent in $flex-propertions {
	:not(.is-flex-direction-column) > .is-#{$width} {
		width: $percent !important;
	}
	.is-flex-direction-column > .is-#{$width} {
		height: $percent !important;
	}
}

$flex-gaps: (
    0: 0,
    1: .25rem,
    2: .5rem,
    3: .75rem,
    4: 1rem,
    5: 1.5rem,
    6: 2rem,
);
@each $gap, $value in $flex-gaps {
    .is-flex.gap-#{$gap} {
        gap: $value !important;
    }
}

.is-flex-col {
    @extend .is-flex;
    @extend .is-flex-direction-column;
}
.is-flex-row {
    @extend .is-flex;
    @extend .is-flex-direction-row;
}

.is-flex {
    .grow {
        flex-grow: 1 !important;
    }
    .growmax {
        flex-grow: 100 !important;
    }
    .no-basis {
        flex-basis: 0;
    }
    .no-shrink {
        flex-shrink: 0;
    }
    &.wrap {
        flex-wrap: wrap;
    }
}

$flex-justifications: (
    flex-start,
    flex-end,
    center,
    space-between,
    space-around,
    space-evenly,
    start,
    end,
    left,
    right,
    stretch,
);
@each $fj in $flex-justifications {
    .is-flex.justify-#{$fj} {
        justify-content: $fj !important;
    }
}

$flex-align: (
    stretch,
    flex-start,
    flex-end,
    center,
    baseline,
    start,
    end,
    self-start,
    self-end,
);
@each $fa in $flex-align {
    .is-flex.align-#{$fa} {
        align-items: $fa !important;
    }
}

input, textarea, select, .input, .textarea, .select select {
    background-color: var(--background-primary-level);
    color: var(--text-color);
    border: none;
    border-radius: 0px;
    font-size: 20px;
    font-family: 'Karla';
    line-height: 2rem;
    &::placeholder {
        color: var(--text-color-70);
    }
}
input {
    max-height: 2rem;
}
textarea {
    padding-left: .5rem;
    padding-right: .5rem;
}

.error {
    color: red !important;
    border: solid 1px red;
}

.threeDigitsWidth {
    width: 2.5rem;
}

.is-scrollable {
    overflow: auto;
}

.enable-line-break {
    white-space: pre-wrap;
}


.customButton {
    height: var(--button-height);
    width: var(--button-width);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    font-weight: 600;
    &.small-button {
        height: 36px;
        width: 170px;
    }
    font-size: 20px;
    border: none;
}

.customButtonSquare {
    @extend .customButton;
    width: var(--button-height);
    &:not(.is-shown) {
        path.fillAsText {
            fill: transparent !important;
        }
    }
}
.customButtonMicro {
    @extend .customButton;
    height: 1.4em;
    width: 1.4em;
    &:not(.is-shown) {
        path.fillAsText {
            fill: transparent !important;
        }
    }
}

.modal {
    cursor: auto;
}

.modal-background {
    background-color: transparent;
    backdrop-filter: blur(1px) brightness(80%);
}

.customRadio {
    &.is-active {
        font-weight: 600;
        .customRadioPoint {
            background-color: var(--accent-primary-color);
        }
    }
    .customRadioPoint {
        border: 2px solid var(--text-color);;
        border-radius: 50%;
        width: 14px;
        height: 14px;
        background-color: transparent;
    }
}

.customCheckbox {
    border: 2px solid var(--text-color);;
    // border-radius: 25%;
    width: 15px;
    height: 15px;
    background-color: transparent;
    &.is-active {
        background-color: var(--accent-primary-color);
    }
}

.customSelect {
    position: relative;
    line-height: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 4.25rem;
    .customSelectSelected {
        flex: 1;
    }
    .customSelectArrow {
        padding-right: .5rem;
        transition: transform .15s ease-in-out;
        &.flip {
            transform: scaleY(-1);
            transition: transform .15s ease-in-out;
        }
    }
    .customSelectDropdown {
        z-index: 1;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 2rem;
        left: -1px;
        width: calc(100% + 2px);
        border: 1px solid var(--background-secondary-level);
        @keyframes delay-overflow {
            from { overflow: hidden;}
        }
        &.show {
            overflow: auto;
            animation-delay: 0;
            animation-name: delay-overflow;
            animation-duration: .4s;
            transition: max-height .1s ease-in-out;
        }
        &.showontop {
            top: unset;
            bottom: 2rem;
        }
        &.hide {
            overflow: hidden;
            border: none;
            max-height: 0 !important;
            transition: max-height .1s ease-in-out;
        }
    }
    .customSelectDropdownItem:hover {
        color: var(--accent-secondary-color);
    }
}
.customModal {
    background-color: var(--background-secondary-level);
    color: var(--text-color);
    border: solid 2px var(--accent-secondary-color);
    box-shadow: 0px 0px 33px 19px rgba(0, 0, 0, 0.25);
    padding: 1rem;
    .close {
        position: absolute;
        top: 0.25rem;
        right: 0.25rem;
    }
}

.Toastify__toast-container {
    top: 0 !important;
    height: $navbar-height !important;
    padding: 0 !important;
    width: unset !important;
}
.Toastify__toast {
    box-shadow: none !important;
    padding: 0 !important;
    background-color: transparent !important;
    // background-color: var(--accent-secondary-color) !important;
    color: var(--text-color) !important;
    height: 100%;
    min-height: unset !important;
    border-radius: 0 !important;
    font-size: 16px !important;
    overflow: unset !important;
    &:after {
        z-index: -1;
        content:'';
        position: absolute;
        right: 0;
        left: 0;
        top: -7%;
        height: 114%;
        border-right: 3px solid var(--accent-primary-color);
        backdrop-filter: blur(10px);
        // background: var(--background-secondary-level);
        border-left: 3px solid var(--accent-primary-color);
        -webkit-transform: skewX(-27.5deg);
        -moz-transform: skewX(-27.5deg);
        -ms-transform: skewX(-27.5deg);
        transform: rotate(27.5deg) skewY(-27.5deg) translateY(0%);
    }
}
.Toastify__toast-body {
    // background: red;
    // margin-right: 30px !important;
    padding: 0 !important;
    overflow: hidden;
    max-width: 40vw;
    height: $navbar-height;
    div {
        white-space: nowrap;
    }
}

@keyframes notification_slide_border {
    0% {
        transform: rotate(27.5deg) skewY(-27.5deg) translateY(-100%);
    }
    20%, 100% {
        transform: rotate(27.5deg) skewY(-27.5deg) translateY(0%);
    }
}
@keyframes notification_slide_body {
    0%, 20% {
        max-width: 0;
    }
    100% {
        max-width: 40vw;
    }
}

.toast-enter-animation {
    &::after {
        animation: 2s notification_slide_border 0s forwards;
    }
    .Toastify__toast-body {
        animation: 2s notification_slide_body 0s forwards;
    }
}
.toast-exit-animation {
    .Toastify__toast-body {
        animation: 2s notification_slide_body 0s reverse forwards;
    }
    &::after {
        animation: 2s notification_slide_border 0s reverse forwards;
    }
}

// Contextual menu
:root {
    --contexify-menu-minWidth: 150px !important;
    --contexify-menu-radius: 0px !important;
    --contexify-menu-bgColor: var(--background-primary-level) !important;
    --contexify-itemContent-padding: 0px !important;
    --contexify-item-color: var(--text-color) !important;
    --contexify-activeItem-color: var(--accent-secondary-color) !important;
    --contexify-activeItem-bgColor: var(--background-primary-level) !important;
}
.contexify {
    border: none !important;
    border-left: solid 2px var(--accent-secondary-color) !important;
    box-shadow: 0px 0px 33px 19px rgba(0, 0, 0, 0.25) !important;
}



.bottomListInfo {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: var(--text-color-70);
    font-size: medium;
    text-align: center;
    padding-top: .25rem;
}

/******************************* 
******** NAVBAR ****************
*******************************/

.navbar {
    height: $navbar-height;
}

.navbar-item.is-tab {
    border-bottom: 0px solid transparent;
    padding-bottom: 0.5rem;
}
a.navbar-item:focus, a.navbar-item:focus-within, a.navbar-item:hover, .navbar-link:focus, .navbar-link:focus-within, .navbar-link:hover {
    color: unset;
}
.navbar-item.is-tab.is-active {
    border-bottom-color: var(--accent-primary-color);
    color: var(--accent-primary-color);
}

.navbar-user-button {
    font-weight: 600;
    font-size: 20px;
}

.navbar-user {
    font-weight: 600;
    font-size: 20px;
    max-height: $navbar-height;
    min-width: 200px;

	&:before {
		z-index: -1;
		content: "";
		position: absolute;
		left: -15%;
		top: 0;
		height: 100%;
		width: 100%;
		background-color: var(--accent-secondary-color);
		-webkit-transform: skewX(-27.5deg);
		-moz-transform: skewX(-27.5deg);
		-ms-transform: skewX(-27.5deg);
		transform: skewX(-27.5deg);
	}
    &:hover .navbarUserInfoTopBox {
        max-height: unset;
        opacity: 100%;
        transition: opacity .2s;
    }
    .arrow {
        transition: transform .15s ease-in-out;
    }
    &:hover .arrow {
        transform: scaleY(-1);
        transition: transform .15s ease-in-out;
    }
}

.navbarUserInfoTopBox {
    z-index: -2;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    top: $navbar-height;
    right: 0;
    width: calc(115% + 14.5px); // tan(27.5deg) * (56px / 2)
    border: solid var(--accent-secondary-color);
    border-width: 0 0 2px 2px;
    .userteam {
        font-weight: 400;
    }
    .points {
        color: var(--text-color);
        height: 40px;
        font-size: 32px;
        line-height: 40px;
        width: 40%;
        &:before {
            z-index: -1;
            content:'';
            position: absolute;
            left: 55%;
            height: 40px;
            width: 100%;
            background-color: var(--accent-primary-color);
            -webkit-transform: skewX(-27.5deg);
            -moz-transform: skewX(-27.5deg);
            -ms-transform: skewX(-27.5deg);
            transform: skewX(-27.5deg);
        }
    }
}

@keyframes notifBlink {
    0% {
        right: -15%;
        background-color: var(--accent-primary-color);
    }
    10%{
        right: -80%;
        background-color: transparent;
    }
    10.1% {
        right: -15%;
        background-color: var(--accent-primary-color);
    }
    20%, 100%{
        right: -80%;
        background-color: transparent;
    }
    
}

.navbar-notifications {
    margin-left: 40px !important;
    max-height: $navbar-height;
    min-height: $navbar-height;
    min-width: $navbar-height;
    &:before {
        z-index: -1;
        content:'';
        position: absolute;
        left: 0%;
        height: 100%;
        width: 115%;
        background-color: var(--accent-primary-color);
        -webkit-transform: skewX(-27.5deg);
        -moz-transform: skewX(-27.5deg);
        -ms-transform: skewX(-27.5deg);
        transform: skewX(-27.5deg);
    }
    &:after {
        z-index: -1;
        content:'';
        position: absolute;
        right: -15%;
        height: 100%;
        width: 15%;
        background-color: var(--accent-primary-color);
        -webkit-transform: skewX(-27.5deg);
        -moz-transform: skewX(-27.5deg);
        -ms-transform: skewX(-27.5deg);
        transform: skewX(-27.5deg);
        animation: notifBlink 2s ease-in-out infinite normal;
    }
    &:hover {
        outline: unset;
    }
    &:hover .navbarNotificationCenter {
        max-width: 500px;
        opacity: 100%;
        transition: ease-out .2s;
    }
    &:first-child {
        width: $navbar-height;
        height: $navbar-height;
    }
}

.navbarNotificationCenter {
    z-index: 0;
    position: absolute;
    top: -2px;
    left: -15px;
    // min-width: $navbar-height;
    max-width: 0;
    opacity: 0;
    overflow: hidden;
    white-space: nowrap;
    #waitingMatchesTitle {
        height: $navbar-height;
    }
    gap: -2px;
    #waitingMatchesList {
        border: solid var(--accent-primary-color);
        border-width: 2px;
    }
    &:after {
        z-index: 1;
        position: absolute;
        top: 0;
        left: -15px;
        width: 30px;
        height: $navbar-height;
        background-color: var(--background-secondary-level);
        -webkit-transform: skewX(-27.5deg);
        -moz-transform: skewX(-27.5deg);
        -ms-transform: skewX(-27.5deg);
        transform: skewX(-27.5deg);
        content: "";
    }
}

.navbarUserCustomisationModal {
    .accentPicker {
        border-radius: 50%;
        width: 20px;
        height: 20px;
        &.is-active {
            border: 2px solid var(--text-color);;
        }
    }
    .avatar {
        height: 196px;
        width: 196px;
    }
}


/******************************* 
******  LOGOS ANIMATIONS  ******
*******************************/

.navbarLogo .svgAnimate {
    #zturn {
        animation: .5s zturnmoveAnimationNavbar .6s ease forwards,
                   .5s zturnmoveAnimationNavbar 1.1s ease reverse forwards;
    }
    #primary-full {
        animation: .3s primaryslideAnimationNavbar linear forwards,
                   .3s showFullAnimationNavbar .3s ease forwards,
                   .3s showFullAnimationNavbar 1.6s ease reverse forwards,
                   .3s primaryslideAnimationNavbar 1.9s linear reverse forwards;
    }
    #primary-half {
        animation: .3s primaryslideAnimationNavbar cubic-bezier(.67, -1.56, 1, 1) forwards,
                   .3s primaryslideAnimationNavbar 1.9s cubic-bezier(0, 0, .67, 2.56) reverse forwards,
    }
    #secondary-full {
        animation: .3s secondaryslideAnimationNavbar linear forwards,
                   .3s showFullAnimationNavbar .3s linear forwards,
                   .5s secondarymoveAnimationNavbar .6s ease forwards,
                   .5s secondarymoveAnimationNavbar 1.1s ease reverse forwards,
                   .3s showFullAnimationNavbar 1.6s linear reverse forwards,
                   .3s secondaryslideAnimationNavbar 1.9s linear reverse forwards;
    }
    #secondary-half {
        animation: .3s secondaryslideAnimationNavbar cubic-bezier(.67, -1.56, 1, 1) forwards,
                   .5s secondarymoveAnimationNavbar .6s ease forwards,
                   .5s secondarymoveAnimationNavbar 1.1s ease reverse forwards,
                   .3s secondaryslideAnimationNavbar 1.9s cubic-bezier(0, 0, .67, 2.56) reverse forwards,

    }
}
@keyframes zturnmoveAnimationNavbar {
    0% {
        transform: translate(0);
    }
    100% {
        transform: translate(126.9px);
    }
}
@keyframes secondarymoveAnimationNavbar {
    0% {
        transform: translate(1.8px, -3.4px);
    }
    100% {
        transform: translate(126.9px, -3.4px);
    }
}
@keyframes secondaryslideAnimationNavbar {
    0%, 50% {
        transform: translate(0);
    }
    100% {
        transform: translate(1.8px, -3.4px);
    }
}
@keyframes primaryslideAnimationNavbar {
    0%, 50% {
        transform: translate(0);
    }
    100% {
        transform: translate(-1.8px, 3.4px);
    }
}
@keyframes showFullAnimationNavbar {
    0%, 95% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}

.loginLogo .svgAnimate {
    #zturn {
        animation: .5s zturnmoveAnimationLogo cubic-bezier(0.34, -0.63, 0.98, 0.49) forwards;
    }
    #primary-full {
        animation: .5s primarymoveAnimationLogo cubic-bezier(0.34, -0.63, 0.98, 0.49) forwards,
                   1.6s hideFullAnimationLogo linear forwards;
    }
    #primary-half {
        animation: .5s primarymoveAnimationLogo cubic-bezier(0.34, -0.63, 0.98, 0.49) forwards,
                   .3s primaryslideAnimationLogo .8s cubic-bezier(0, 0, .67, 2.56) forwards;
    }
    #secondary-full {
        animation: .5s secondarymoveAnimationLogo cubic-bezier(0.34, -0.63, 0.98, 0.49) forwards,
                   1.6s hideFullAnimationLogo linear forwards;
    }
    #secondary-half {
        animation: .5s secondarymoveAnimationLogo cubic-bezier(0.34, -0.63, 0.98, 0.49) forwards,
                   .3s secondaryslideAnimationLogo .8s cubic-bezier(0, 0, .67, 2.56) forwards;
    }
}
@keyframes zturnmoveAnimationLogo {
    0% {
        transform: translate(0);
    }
    100% {
        transform: translate(-63.45px);
    }
}
@keyframes secondarymoveAnimationLogo {
    0% {
        transform: translate(0);
    }
    100% {
        transform: translate(-63.45px);
    }
}
@keyframes primarymoveAnimationLogo {
    0% {
        transform: translate(0);
    }
    100% {
        transform: translate(63.45px);
    }
}
@keyframes secondaryslideAnimationLogo {
    0%, 50% {
        transform: translate(-63.45px);
    }
    100% {
        transform: translate(-65.25px, 3.4px);
    }
}
@keyframes primaryslideAnimationLogo {
    0%, 50% {
        transform: translate(63.45px);
    }
    100% {
        transform: translate(65.25px, -3.4px);
    }
}
@keyframes hideFullAnimationLogo {
    0% {
        visibility: visible;
    }
    35%, 100% {
        visibility: hidden;
    }
}

/******************************* 
************  HOME  ************
*******************************/

.homeTournamentsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(400px, 1fr));
    gap: 1.5rem;
}

.subscribed {
    z-index: 2;
    position: absolute;
    top: 134px;
    right:-115px;
    transition: .2s ease-in-out;
    width: 150px;
    height: 37px;
    &.mini {
        top: 50px;
        right: 0px;
        width: 27px;
        height: 20px;
        svg {
            width: 25px;
            height: 18px;
        }
        &:before {
            width: 15px;
        }
    }
    &:before {
        z-index: -1;
        content:'';
        position: absolute;
        right: 20px;
        width: 150px;
        height: 100%;
        background-color: var(--accent-primary-color);
        -webkit-transform: skewX(-27.5deg);
        -moz-transform: skewX(-27.5deg);
        -ms-transform: skewX(-27.5deg);
        transform: skewX(-27.5deg);
    }
    &:not(.mini):hover {
        right: -45px;
        transition: .2s ease-in-out;
    }
}
.homeTournamentBox {
    height: 236px;
    position: relative;
    background-size: cover;
    overflow: hidden;
    
    .tournamentName, .status-bar {
        position: absolute;
        width: 100%;
        height: 50px;
        background-color: #000000B3;
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        color: white;
    }
    .tournamentName {
        z-index: 4;
        bottom: 0px;
        font-weight: 600;
    }
    .status-bar {
        z-index: 1;
        top: 0px;
    }
    &:hover {
        .tournamentName {
            color: var(--accent-primary-color) !important;
        }
    }
    .over-overlay {
        position: relative;
        z-index: 3;
        text-transform: uppercase;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: color-mix(in (srgb), var(--background-primary-level) 85%, transparent);
    }
}


/******************************* 
************* ADMIN ************
*******************************/

.globalTournamentOptions {
    .rankPoints:not(:last-child):not(:first-child) {
        border-right: solid 1px var(--background-primary-level);
        padding-right: .5rem;
    }
    &.editing .rankPoints:not(:last-child) {
        border-right: unset;
        padding-right: unset;
    }
}

.usersList {
    flex: 2;
    .UserTilesContainer {
        gap: .5rem;
    }
    .userTile {
        flex: 0 0 40px;
        z-index: 2;
        width: 100%;
        position: relative;
        overflow: hidden;
        background-color: var(--background-primary-level);
        transition: ease-out .125s;
        &.is-active {
            flex: 0 0 140px;
            background-color: var(--accent-secondary-color);
            transition: ease-out .125s;
        }
        .userTooltip {
            margin-top: 5px;
            margin-left: 35px;
            border-left: 5px solid var(--accent-primary-color);
            color: var(--text-color-70);
        }
    }
}

.manageGames {
    .selectable {
        border: 2px transparent solid;
        &.is-active {
            border-color: var(--accent-primary-color);
        }
    }
}


/******************************* 
********** TOURNAMENTS *********
*******************************/

.tournamentEditSectionTitle {
    color: var(--text-color);
    &:before {
        z-index: -1;
        content:'';
        position: absolute;
        right: 0px;
        left: 0px;
        top: 0px;
        bottom: 0px;
        background-color: var(--background-secondary-level);
        -webkit-transform: skewX(-27.5deg);
        -moz-transform: skewX(-27.5deg);
        -ms-transform: skewX(-27.5deg);
        transform: skewX(-27.5deg);
    }
    &:first-of-type {
        &:before {
            left: -10%;
        }
    }
    &:last-of-type {
        &:before {
            right: -10%;
        }
    }
    &.active {
        &:before {
            background-color: var(--accent-primary-color);
        }
    }
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 var(--accent-primary-color);
    }
    70%, 100% {
        box-shadow: 0 0 0 .4rem transparent;
    }
}

.tournamentsList {
    min-width: $tournament-side-list-width;
    max-width: $tournament-side-list-width;
    gap: 1rem;
    padding: 0 2px;
    .tournamentTile {
        position: relative;
        flex: 0 0 81px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-size: cover;
        background-color: var(--background-primary-level);
        overflow: hidden;
        &.is-active {
            outline: solid var(--accent-primary-color);
            outline-width: 2px;
            outline-offset: 0px;
        }
        &:hover, &.is-active {
            color: var(--accent-primary-color) !important;
        }
        .tournamentTilebackground {
            z-index: 1;
            position: absolute;
            top: 0; bottom: 0;
            right: 0; left: 0;
            background-color: color-mix(in (srgb), var(--background-primary-level) 85%, transparent);
        }
        .tournamentName {
            font-weight: 600;
            z-index: 3;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-transform: uppercase;
        }
        .tournamentState {
            z-index: 3;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-transform: uppercase;
        }
    }
}
.svgSelection {
    display: flex;
    width: 540px;
    height: 260px;
    background-color: var(--background-primary-level);
    justify-content: center;
    align-items: center;
    &:hover svg, &.is-active svg {
        .fillAsText {
            fill: var(--accent-primary-color);
        }
    }
    &.is-active {
        border: 2px solid var(--accent-primary-color);
    }
}


.is-draggable {
    cursor: grab;
}
.is-dragging {
    cursor: grabbing;
    .is-draggable {
        cursor: inherit;
    }
}
@keyframes popupTimer {
    from {
        opacity: 0;
    } to {
        opacity: 100%;
    }
}

.OpponentInfosContainer {
    max-height: calc(100% + 2px);
    overflow: hidden;
    opacity: 0;
    animation-delay: .3s;
    animation-name: popupTimer;
    animation-duration: .2s;
    animation-fill-mode: forwards;
    position: absolute;
    bottom: 0;
    right: 0;
    border-top: solid 2px var(--background-secondary-level);
    border-left: solid 2px var(--background-secondary-level);
}

@keyframes toptobottom {
    0%,10% {
        top: 0;
    }
    90%,100% {
        top: var(--dist, 0);
    }
}

.animateFromTopToBottom {
    animation: 10s toptobottom cubic-bezier(.5, 0, .5, 1) infinite alternate;
}

/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    appearance: textfield;
    -moz-appearance: textfield;
}


/******************************* 
********** LEADERBOARD *********
*******************************/

.leaderboard {
    max-width: 62%;
    .resultTile {
        &:before {
            z-index: 1;
            content: "";
            position: absolute;
            top: 0;
            height: 0;
            left: -100px;
            -webkit-transform: skewX(-27.5deg);
            -moz-transform: skewX(-27.5deg);
            -ms-transform: skewX(-27.5deg);
            transform: skewX(-27.5deg);
        }
        &:first-child {
            &:before {
                width: 286px;
                height: 80px;
                background-color: var(--accent-primary-color);
                
            }
            &.teamResult::before {
                left: -165px;
            }
        }
        &:nth-child(2) {
            &:before {
                width: 245px;
                height: 65px;
                background-color: var(--accent-secondary-color);
            }
            &.teamResult::before {
                left: -165px;
            }
        }
        &:nth-child(3) {
            &:before {
                width: 210px;
                height: 55px;
                background-color: var(--grey);
            }
            &.teamResult::before {
                left: -165px;
            }
        }
    }
}

.cap-first::first-letter {
  text-transform: uppercase;
}